

<div class="cart-top container-fluid">
  <div class="container d-flex">
    <div class="items">
      <a>
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/d42b57d8569fccc3.png?q=100">
        <h6>Appliances</h6>
      </a>
    </div>
<div class="items">
  <a>
    <img src="https://rukminim1.flixcart.com/flap/128/128/image/5c44091c4cde5527.png?q=100">
    <h6>Fashion</h6>
  </a>
</div>

<div class="items">
  <a>
    <img src="https://rukminim1.flixcart.com/flap/128/128/image/9468f7c638007682.png?q=100">
    <h6>Electroincs</h6>
  </a>
</div>
  </div>

</div>
<br>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">

    <div class="card col-md-3">
      <img src="{{item.image}}" alt="">
      <h5 class="itemdata">{{item.title}}</h5>
      <p ><strong>Price:</strong>${{item.price}}</p>
      <p class="itemdata">{{item.category}}</p>
      <p class="itemdata">{{item.description}}</p>
      <button class="btn btn-success"(click)="addtoCart(item)">Add to Cart</button>
    </div>
  </ng-container>
  </div>
</div><br><br>

<app-footer></app-footer>
